<footer class="footer">
  <div class="container d-flex justify-content-between align-items-center">
    <p class="mb-1">Copyright &copy; 2023 PHOTOchaton</p>
    <div>
      <%= link_to "#", class: "social-link text-white text-decoration-none" do %>
        <i class="fab fa-twitter"></i>
      <% end %>
      <%= link_to "#", class: "social-link text-white text-decoration-none" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to "#", class: "social-link text-white text-decoration-none" do %>
        <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to "#", class: "social-link text-white text-decoration-none" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
  </div>
</footer>