<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <% if @cart.items.empty? %>
      <p>Votre panier est vide</p>
      <div>
        <%= link_to "Commencer mes achats", items_path, class: "btn btn-warning" %>
      </div>
    <% else %>
      <%= render @cart %>
      <div>
        <%= button_to "Vider ce panier", @cart, method: :delete, class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>