
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="text-center">
    <p>
      <strong>Nom:</strong>
      <%= @item.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @item.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @item.price %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag @item.image_url if @item.image_url.present? %>
    </p>
  </div>
</div>