
 


 .navbar-logo {
  width: 100px ;
  margin-right: 10rem;
};
.page-title {
  margin-left: 2rem;
 };

 .navbar-icon {
  max-width: 30px;
};

.navbar-icon-link {
  color: blue;
  margin-right: 20px;
}

.navbar-icon-link:hover {
  color: lightblue;
}

.navbar-icon {
  margin-right: 0.2em;
  margin-left: 0.2em
};


.navbar-button:hover { 
  color: white;
  background-color: goldenrod;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
}

.social-link {
  margin-left: 10px;
  font-size: 1.2em;
  
}

.admin {
  margin-left: 3rem;
}

.centered-and-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}
